<ul>
    <li><a routerLink="mobile" routerLinkActive="bg-secondary rounded rounded-pill" [routerLinkActiveOptions]="{exact:true}"> mobile </a></li>
    <li><a routerLink="tablet" routerLinkActive="bg-secondary rounded rounded-pill" [routerLinkActiveOptions]="{exact:true}"> tablet </a></li>
    <li><a routerLink="ipad" routerLinkActive="bg-secondary rounded rounded-pill" [routerLinkActiveOptions]="{exact:true}"> ipad </a></li>
    <li><a routerLink="desktop" routerLinkActive="bg-secondary rounded rounded-pill" [routerLinkActiveOptions]="{exact:true}"> desktop </a></li>


</ul>

<div class="bg-primary">
    <router-outlet></router-outlet>
</div>